


	<!-- Header -->
    <%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12">
				<form action="get">
					<input type="text" name="username" placeholder="Nombre de usuario">
					<input type="password" name="password" placeholder="Contraseña">
					<h2 class="fas fa-hand-holding-usd">Recordarme</h2>
					<input type="checkbox" name="remember" placeholder="Recordarme">
					<button type="submit">Ingresar</button>
				</form>
			</div>

	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
