


	<!-- Header -->
    <%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<!-- <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2  class='h2' class="products-title">Ingresar</h2> 
			</div>
			 Show the "ultimos" products -->
			<!-- <div >
				<form action="/profile" method="get" action="get">
					<input  type="email" name="email" placeholder="Correo electronico"> <br>
					<input  type="password" name="password" placeholder="Contraseña"><br>
					<input  type="checkbox">Recordame</button><br>
				</form>
				<a href="/profile" class="main-header_home-link"><button >Iniciar sesión</button></a>
			</div>

		</div>
	</div> -->	
	<div class="form-wrapper">
		<h1 class="formulario1">Inicia sesión</h1>
		<form class="form" method="post" action="/profile/login" >
		  <div class="form-item">
			<label for="username"></label>
			<input type="text" name="username" placeholder="Nombre de usuario"  ></input>
		  </div>
		  <div class="form-item">
			<label for="password"></label>
			<input type="password" name="password" required="required" placeholder="Contraseña"></input>
		  </div>
		  <div class="button-panel">
			<input type="submit" class="button" title="Sign In" value="Iniciar sesión"></input>
		  </div>
		  <div>
			<input type="checkbox" id="rememberme" name="rememberme">
			<label for="rememberme">Recordame</label>
		  </div>
		</form>
	  </div>
	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
