

	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class='h2' class="products-title">Agregar productos</h2 class='h2'>
			</div>
			<!-- Show the "ultimos" products -->
			
				<div class="form-wrapper">
					<h1 class="formulario1">Add product</h1>
					<form class="form" method="post" action="/products/product-add" enctype="multipart/form-data" >
						<div class="form-item">
							
							<input type="text" name="title" required="required" placeholder="Product name"></input>
							<input type="text" name="description" placeholder="Description"> <br>
							<input type="number" name="price" placeholder="Price"> <br>
							<input type="file"	name="cover" placeholder="cover"> 
						</div>
						<div class="button-panel">
						<input type="submit" class="button" title="Add product " value="Add product"></input>
					  </div>
			
					</form>
				</div>
			

		</div>
	</div>
</div>
	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->

