

	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class='h2' class="products-title">Editar mi perfil</h2 class='h2'>
			</div>
			<div class="col-12">
				<form action="get">
					<input type="email" name="email" placeholder="Correo electronico">
					<input type="text" name="username" placeholder="Nombre de usuario">
					<input type="password" name="password" placeholder="Contraseña">
					<input type="date" name="date" placeholder="Fecha de nacimiento">
					<input type="number" name="dni" placeholder="Documento de indentidad">
					<input type="file" name="img" placeholder="Foto de Perfil">
					<button type="submit">Editar</button>
				</form>
			</div>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
