
	<!-- Header -->
	<%- include('./partials/header.ejs') %> 

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<div class="col-12">
				<form action="/profile" method="get" class="formularios" action="get">
					<input type="email" name="email" placeholder="Correo electronico"> <br>
					<input type="text" name="username" placeholder="Nombre de usuario"> <br>
					<input type="password" name="password" placeholder="Contraseña"> <br>
					<input type="date" name="date" placeholder="Fecha de nacimiento"> <br>
					<input type="number" name="dni" placeholder="Documento de indentidad"> <br>
					<input type="file" name="img" placeholder="Foto de Perfil"> <br>
				</form>
				<a href="/profile" class="main-header_home-link">
				<button>Registrarte</button></a>
			</div>
	

	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
