
	<!-- Header -->
	<%- include('./partials/header.ejs') %> 
	<!-- /Header -->

	<!-- Register form -->
	<div class="form-wrapper">
		<h1 class="formulario1">Registrate</h1>
		<% if(locals.error){ %> 
			<div class="alert alert-danger" role="alert">
				<%= error %> 
			</div>
			<% } %> 

		<form class="form" method="post" action="/profile/register" enctype="multipart/form-data" >
		    <div class="form-item">
				<!-- <input type="file" name="dni"> -->
				<input type="email" name="email" placeholder="Correo electronico"> <br>
					<input type="text" name="username" placeholder="Nombre de usuario"> <br>
					<input type="password" name="password" placeholder="Contraseña"> <br>
					<input type="date" name="date" placeholder="Fecha de nacimiento"> <br>
					<input type="file" name="img" placeholder="Foto de Perfil"> <br>
						
		    </div>
		    <div class="button-panel">
			<input type="submit" class="button" title="Sign Up" value="Registrate"></input>
		  </div>

		</form>
	</div>
	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->

