	<!-- Header -->
	<%- include('./partials/header.ejs') %> 

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class='h2' class="products-title">Resultados de búsqueda</h2 class='h2'>
			</div>
			<!-- Show the "ultimos" products -->
			<p class="resultado-busqueda"> No tenemos ese producto en estos instantes, vuelva a intentarlo más tarde.</p>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->

